Repository huawei-noah/SMARTS: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint

black:
  name: black
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --errors-only
  - -rn
  - -sn

remove conflicts
  requirements.txt
Due: black

remove conflicts
  setup.py
Due: black, pylint

add black and isort to precommit hook
  .pre-commit-config.yaml
  requirements.txt
Due: black

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: black

format instead of only checking
  .pre-commit-config.yaml
Due: none

use local black and isort in pre-commit
  .pre-commit-config.yaml
Due: none

update contributing
  CONTRIBUTING.md
Due: black

add instructions for setup
  CONTRIBUTING.md
Due: black

add pylint to hooks
  .pre-commit-config.yaml
  requirements.txt
Due: black

update CONTRIBUTING.d
  CONTRIBUTING.md
Due: black

update black in pre-commit
  .pre-commit-config.yaml
Due: none

update contributing, only format python files
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: black

remove comments
  .pre-commit-config.yaml
Due: none

move pre-commit and pylint dependencies into [dev] option
  .pre-commit-config.yaml
  requirements.txt
  setup.py
Due: black, pylint

map building fixes (#1234)
  CHANGELOG.md
  cli/studio.py
  smarts/core/default_map_builder.py
  smarts/core/opendrive_road_network.py
  smarts/core/scenario.py
  smarts/core/sumo_road_network.py
  smarts/core/utils/file.py
  smarts/sstudio/sumo2mesh.py
  smarts/sstudio/types.py
Due: black, pylint

add pytype to pre-commit hooks
  .pre-commit-config.yaml
Due: none

Remove pre commit hook
  .pre-commit-config.yaml
  examples/single_agent.py
  smarts/env/wrappers/standard_obs.py
Due: black, pylint

Rm pre commit hook
  .pre-commit-config.yaml
Due: none

add pytype to dev
  setup.py
Due: black, pylint

modify build-backend for setuptools
  poetry.lock
  pyproject.toml
Due: black

delete setup.py
  setup.py
Due: black, pylint

change requires in [build-system]
  pyproject.toml
Due: black

modify setup.py
  setup.py
Due: black, pylint

add entry_points in setup.py
  setup.py
Due: black, pylint

First batch of docstrings
  envision/client.py
  envision/server.py
  envision/types.py
  smarts/env/custom_observations.py
  smarts/env/hiway_env.py
  smarts/env/rllib_hiway_env.py
  smarts/env/wrappers/parallel_env.py
  smarts/sstudio/genhistories.py
Due: black, pylint

Second batch of docstrings
  smarts/contrib/malib/list_hiway_env.py
  smarts/contrib/pymarl/adapters/action_adapter.py
  smarts/contrib/pymarl/adapters/observation_adapter.py
  smarts/contrib/pymarl/adapters/reward_adapter.py
  smarts/contrib/pymarl/adapters/state_adapter.py
  smarts/contrib/pymarl/pymarl_hiway_env.py
  smarts/core/utils/invalid/__init__.py
  smarts/core/utils/math.py
  smarts/core/utils/visdom_client.py
  smarts/zoo/manager.py
  smarts/zoo/manager_servicer.py
Due: black, pylint

Third batch of docstrings
  smarts/core/utils/class_factory.py
  smarts/core/utils/geometry.py
  smarts/core/utils/id.py
  smarts/core/utils/key_wrapper.py
  smarts/core/utils/logging.py
  smarts/zoo/worker.py
Due: black, pylint

Fourth batch of docstrings
  smarts/core/utils/bullet.py
  smarts/core/utils/cache.py
  smarts/core/utils/episodes.py
  smarts/core/utils/file.py
  smarts/core/utils/frame_monitor.py
  smarts/core/utils/networking.py
Due: black, pylint

Fifth batch of docstrings
  smarts/core/controllers/trajectory_tracking_controller.py
  smarts/core/utils/bullet.py
  smarts/core/utils/import_utils.py
  smarts/core/utils/resources.py
  smarts/sstudio/generators.py
  smarts/sstudio/genscenario.py
  smarts/sstudio/od2mesh.py
  smarts/sstudio/sumo2mesh.py
  smarts/sstudio/types.py
Due: black, pylint

remove python3.7-dev
  utils/setup/install_deps.sh
Due: black

Sixth batch of docstrings
  smarts/core/agent_manager.py
  smarts/core/bezier_motion_planner.py
  smarts/core/controllers/__init__.py
  smarts/core/external_provider.py
  smarts/core/lidar_sensor_params.py
  smarts/core/remote_agent_buffer.py
  smarts/core/utils/bullet.py
  smarts/core/utils/string.py
  smarts/sstudio/genscenario.py
Due: black, pylint

move smarts_ros ROS node into smarts/ros so it can be distributed with pkg
  MANIFEST.in
  smarts/ros/.catkin_workspace
  smarts/ros/.gitignore
  smarts/ros/README.md
  smarts/ros/__init__.py
  smarts/ros/__main__.py
  smarts/ros/src/__init__.py
  smarts/ros/src/smarts_ros/CMakeLists.txt
  smarts/ros/src/smarts_ros/__init__.py
  smarts/ros/src/smarts_ros/launch/__init__.py
  smarts/ros/src/smarts_ros/launch/ros_driver.launch
  smarts/ros/src/smarts_ros/msg/AgentReport.msg
  smarts/ros/src/smarts_ros/msg/AgentSpec.msg
  smarts/ros/src/smarts_ros/msg/AgentTask.msg
  smarts/ros/src/smarts_ros/msg/AgentsStamped.msg
  smarts/ros/src/smarts_ros/msg/EntitiesStamped.msg
  smarts/ros/src/smarts_ros/msg/EntityState.msg
  smarts/ros/src/smarts_ros/msg/SmartsReset.msg
  smarts/ros/src/smarts_ros/msg/__init__.py
  smarts/ros/src/smarts_ros/package.xml
  smarts/ros/src/smarts_ros/scripts/__init__.py
  smarts/ros/src/smarts_ros/scripts/ros_driver.py
  smarts/ros/src/smarts_ros/scripts/test_smarts_ros.py
  smarts/ros/src/smarts_ros/srv/SmartsInfo.srv
  smarts/ros/src/smarts_ros/srv/__init__.py
Due: black, pylint

moved ros logging stuff to smarts.ros.logging formatting
  smarts/ros/__init__.py
  smarts/ros/__main__.py
  smarts/ros/logging.py
  smarts/ros/src/smarts_ros/scripts/ros_driver.py
Due: black, pylint

set env for catkin_make
  smarts/ros/__main__.py
Due: black, pylint

fix typo
  smarts/ros/src/smarts_ros/scripts/ros_driver.py
Due: black, pylint

copyright headers
  smarts/ros/__main__.py
  smarts/ros/logging.py
  smarts/ros/src/smarts_ros/scripts/ros_driver.py
  smarts/ros/src/smarts_ros/scripts/test_smarts_ros.py
Due: black, pylint

changelog
  CHANGELOG.md
Due: black

bugfix: remove incorrect assert w.r.t. map_spec
  smarts/core/scenario.py
  smarts/ros/src/smarts_ros/scripts/ros_driver.py
Due: black, pylint

Path conditions:
  black: any file but: \.(yaml|yml)$
  pylint: any of: \.py$
