Repository huawei-noah/SMARTS: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        exclude_types: [yaml]
    -   id: isort
        name: isort
        entry: isort
        language: system
        args: ["--profile", "black"]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
            [
            "--errors-only",
            "-rn", # Only display messages
            "-sn", # Don't display the score
            ]

Cleaned.
  examples/driving_in_traffic/Dockerfile
  examples/driving_in_traffic/driving_in_traffic/env/action.py
  examples/driving_in_traffic/driving_in_traffic/env/reward.py
  examples/driving_in_traffic/driving_in_traffic/env/single_agent.py
  examples/driving_in_traffic/run.py
  examples/driving_in_traffic/setup.py
  examples/sb3/Dockerfile
  examples/sb3/requirements.txt
  examples/sb3/run.py
  examples/sb3/sb3/env/action.py
  examples/sb3/sb3/env/make_env.py
  examples/sb3/sb3/env/reward.py
  examples/sb3/setup.py
Due: black, pylint

Add Changelog.
  CHANGELOG.md
Due: black

Remove SB3 example.
  CHANGELOG.md
  examples/driving_in_traffic/run.py
  examples/sb3/Dockerfile
  examples/sb3/README.md
  examples/sb3/config.yaml
  examples/sb3/requirements.txt
  examples/sb3/run.py
  examples/sb3/sb3/env/action.py
  examples/sb3/sb3/env/make_env.py
  examples/sb3/sb3/env/reward.py
  examples/sb3/scenarios/loop/map.net.xml
  examples/sb3/scenarios/loop/scenario.py
  examples/sb3/setup.py
Due: black, pylint

Remove modifications from driving in traffic example.
  examples/driving_in_traffic/Dockerfile
  examples/driving_in_traffic/README.md
  examples/driving_in_traffic/config.yaml
  examples/driving_in_traffic/driving_in_traffic/env/action.py
  examples/driving_in_traffic/driving_in_traffic/env/reward.py
  examples/driving_in_traffic/driving_in_traffic/env/single_agent.py
  examples/driving_in_traffic/run.py
  examples/driving_in_traffic/setup.py
  examples/sb3/run.py
Due: black, pylint

GitHub Actions: Update requirements.txt
  requirements.txt
Due: black

change default to None in AgentSpec
  smarts/core/agent.py
Due: black, pylint

Auto commit.
  .github/workflows/ci-auto-commit-linux.yml
Due: none

use process instead of thread to speed up the build-all option
  cli/studio.py
  cli/ultra.py
Due: black, pylint

reformat and correct typo
  cli/ultra.py
Due: black, pylint

Add single vehicle generation code
  smarts/sstudio/generators.py
  smarts/sstudio/types.py
Due: black, pylint

add the change to CHANGELOG
  CHANGELOG.md
Due: black

GitHub Actions: Format - Black and isort.
  cli/studio.py
  scenarios/od_merge/scenario.py
  smarts/core/default_map_builder.py
  smarts/core/lanepoints.py
  smarts/core/opendrive_road_network.py
  smarts/core/sumo_road_network.py
  smarts/core/sumo_traffic_simulation.py
  smarts/core/tests/test_map.py
  smarts/core/traffic_history.py
  smarts/core/utils/geometry.py
  smarts/core/utils/math.py
  smarts/env/hiway_env.py
  smarts/ros/logging.py
Due: black, pylint

Auto format (#1)
  .github/workflows/ci-auto-commit-linux.yml
  .github/workflows/ci-auto-commit-mac.yml
  .github/workflows/ci-base-tests-mac.yml
  .github/workflows/ci-dependencies-linux.yml
  .github/workflows/ci-formatting.yml
  .pre-commit-config.yaml
  requirements.txt
  smarts/env/hiway_env.py
Due: black, pylint

GitHub Actions: Format - Black and isort.
  smarts/env/hiway_env.py
Due: black, pylint

Auto commit black and isort.
  .github/workflows/ci-auto-commit-linux.yml
  .github/workflows/ci-auto-commit-mac.yml
  .github/workflows/ci-base-tests-mac.yml
  .github/workflows/ci-formatting.yml
  .pre-commit-config.yaml
  cli/studio.py
  requirements.txt
  scenarios/od_merge/scenario.py
  smarts/core/default_map_builder.py
  smarts/core/lanepoints.py
  smarts/core/opendrive_road_network.py
  smarts/core/sumo_road_network.py
  smarts/core/sumo_traffic_simulation.py
  smarts/core/tests/test_map.py
  smarts/core/traffic_history.py
  smarts/core/utils/geometry.py
  smarts/core/utils/math.py
  smarts/env/hiway_env.py
  smarts/ros/logging.py
Due: black, pylint

Revert changes to requirements.txt .
  requirements.txt
Due: black

Delay pip install .[dev]
  .github/workflows/ci-auto-commit-linux.yml
Due: none

exclude manager_pb2_grpc.py,worker_pb2_grpc.py
  .github/workflows/ci-formatting.yml
Due: none

rename variable, formatting
  examples/waypoint_tracking_agent.py
Due: black, pylint

change lanes when there are wp paths for it
  examples/waypoint_tracking_agent.py
Due: black, pylint

add comments
  examples/waypoint_tracking_agent.py
Due: black, pylint

change condition for choosing lane
  examples/waypoint_tracking_agent.py
Due: black, pylint

Fix steering observation description
  docs/sim/observations.rst
Due: black

Update examples/waypoint_tracking_agent.py
  examples/waypoint_tracking_agent.py
Due: black, pylint

Change git add command.
  .github/workflows/ci-auto-commit-linux.yml
Due: none

simplify if/else block
  examples/waypoint_tracking_agent.py
Due: black, pylint

Auto format and commit (#1252)
  .github/workflows/ci-auto-commit-linux.yml
  .github/workflows/ci-auto-commit-mac.yml
  .github/workflows/ci-base-tests-mac.yml
  .github/workflows/ci-dependencies-linux.yml
  .github/workflows/ci-formatting.yml
  .pre-commit-config.yaml
  cli/studio.py
  scenarios/od_merge/scenario.py
  smarts/core/default_map_builder.py
  smarts/core/lanepoints.py
  smarts/core/opendrive_road_network.py
  smarts/core/sumo_road_network.py
  smarts/core/sumo_traffic_simulation.py
  smarts/core/tests/test_map.py
  smarts/core/traffic_history.py
  smarts/core/utils/geometry.py
  smarts/core/utils/math.py
  smarts/env/hiway_env.py
  smarts/ros/logging.py
Due: black, pylint

GitHub Actions: Format
  smarts/env/hiway_env.py
Due: black, pylint

reformatting
  ultra/tests/test_adapter.py
  ultra/ultra/scenarios/analysis/base_analysis.py
  ultra/ultra/scenarios/analysis/behavior_analysis.py
  ultra/ultra/scenarios/analysis/scenario_analysis.py
Due: black, pylint

Update studio.py
  cli/studio.py
Due: black, pylint

assert the space is a gym.Space
  smarts/core/agent.py
Due: black, pylint
