Repository huawei-noah/SMARTS: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        exclude_types: [yaml]
    -   id: isort
        name: isort
        entry: isort
        language: system
        args: ["--profile", "black"]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
            [
            "--errors-only",
            "-rn", # Only display messages
            "-sn", # Don't display the score
            ]

added debug print (will remove after CI testing)
  smarts/core/plan.py
Due: black, pylint

temporarily turn up logging for CI tests
  smarts/core/plan.py
  smarts/core/sensors.py
  smarts/core/smarts.py
  smarts/core/sumo_traffic_simulation.py
Due: black, pylint

added more logging
  smarts/core/smarts.py
  smarts/core/trap_manager.py
Due: black, pylint

typo
  smarts/core/trap_manager.py
Due: black, pylint

GitHub Actions: Update requirements.txt
  requirements.txt
Due: black

more log messages
  smarts/core/agent_manager.py
  smarts/core/trap_manager.py
Due: black, pylint

rewrite reset loop
  smarts/core/smarts.py
Due: black, pylint

even more logging.... getting close!
  smarts/core/trap_manager.py
Due: black, pylint

add default adapter
  smarts/core/agent.py
Due: black, pylint

create test for adapter
  examples/single_agent.py
  smarts/core/tests/test_agent.py
Due: black, pylint

Incremental pytype check. (#1257)
  .github/workflows/ci-format.yml
  setup.py
  smarts/env/hiway_env.py
Due: black, pylint

add logging for pose of vehicle in question
  smarts/core/trap_manager.py
Due: black, pylint

duh
  smarts/core/trap_manager.py
Due: black, pylint

Upgrade.
  .github/workflows/ci-format.yml
  CHANGELOG.md
  examples/__init__.py
  examples/egoless.py
  examples/multi_agent.py
  examples/parallel_environment.py
  examples/ray_multi_instance.py
  examples/single_agent.py
  requirements.txt
  setup.py
  smarts/core/default_map_builder.py
  smarts/core/events.py
  smarts/core/lidar.py
  smarts/core/sensors.py
  smarts/core/smarts.py
  smarts/core/sumo_road_network.py
  smarts/env/custom_observations.py
  smarts/env/hiway_env.py
  smarts/env/wrappers/rgb_image.py
Due: black, pylint

Upgrade.
  smarts/env/tests/test_format_obs.py
  smarts/env/wrappers/format_obs.py
Due: black, pylint

make module works without changing the root module
  Makefile
  examples/dynamic_history_vehicles_replacement.py
  examples/ego_open_agent.py
  examples/egoless.py
  examples/history_vehicles_replacement_for_imitation_learning.py
  examples/multi_agent.py
  examples/observation_collection_for_imitation_learning.py
  examples/parallel_environment.py
  examples/ray_multi_instance.py
  examples/single_agent.py
  examples/tests/test_examples.py
  examples/trajectory_tracking_agent.py
  scenarios/intersections/2lane/scenario.py
  scenarios/intersections/2lane_circle/scenario.py
  scenarios/intersections/4lane/scenario.py
  scenarios/intersections/4lane_t/scenario.py
  scenarios/intersections/6lane/scenario.py
  scenarios/loop/scenario.py
  scenarios/minicity/scenario.py
  scenarios/od_4lane/scenario.py
  scenarios/od_merge/scenario.py
  scenarios/od_newmarket/scenario.py
  scenarios/straight/scenario.py
  scenarios/tests/multi_agents_loop/scenario.py
  scenarios/tests/same_location/scenario.py
  scenarios/zoo_intersection/scenario.py
  setup.py
  src/smarts/core/tests/test_dynamics_backend.py
  src/smarts/core/tests/test_sensors.py
  src/smarts/core/tests/test_smarts.py
  src/smarts/core/tests/test_sumo_version.py
  src/smarts/env/tests/test_social_agent.py
  src/smarts/zoo/manager.py
  src/smarts/zoo/worker.py
Due: black, pylint

Lidar precision is np.float64.
  smarts/env/wrappers/format_obs.py
Due: black, pylint

Argument parser imports and reduce scenario rebuilds.
  examples/__init__.py
  examples/ego_open_agent.py
  examples/observation_collection_for_imitation_learning.py
  examples/trajectory_tracking_agent.py
Due: black, pylint

Standard obs (#1248)
  .github/workflows/ci-format.yml
  CHANGELOG.md
  examples/__init__.py
  examples/argument_parser.py
  examples/ego_open_agent.py
  examples/egoless.py
  examples/multi_agent.py
  examples/observation_collection_for_imitation_learning.py
  examples/parallel_environment.py
  examples/ray_multi_instance.py
  examples/single_agent.py
  examples/tests/test_examples.py
  examples/trajectory_tracking_agent.py
  setup.py
  smarts/core/sensors.py
  smarts/env/custom_observations.py
  smarts/env/hiway_env.py
  smarts/env/tests/test_format_obs.py
  smarts/env/tests/test_frame_stack.py
  smarts/env/tests/test_parallel_env.py
  smarts/env/wrappers/format_obs.py
  smarts/env/wrappers/rgb_image.py
Due: black, pylint

added concurrency group since containers share volumes + updated container versions
  .github/workflows/ci-auto-commit-linux.yml
  .github/workflows/ci-base-tests-linux.yml
  .github/workflows/ci-format.yml
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-test-learning.yml
  .github/workflows/ci-test-long-determinism.yml
  .github/workflows/ci-test-memory-growth.yml
Due: none

try v0.5 container
  .github/workflows/ci-auto-commit-linux.yml
  .github/workflows/ci-base-tests-linux.yml
  .github/workflows/ci-format.yml
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-test-learning.yml
  .github/workflows/ci-test-long-determinism.yml
  .github/workflows/ci-test-memory-growth.yml
Due: none

revert to v0.4.18
  .github/workflows/ci-auto-commit-linux.yml
  .github/workflows/ci-base-tests-linux.yml
  .github/workflows/ci-format.yml
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-test-learning.yml
  .github/workflows/ci-test-long-determinism.yml
  .github/workflows/ci-test-memory-growth.yml
Due: none

experiment with factoring out scl scenario build
  .github/workflows/ci-base-tests-linux.yml
Due: none

revert experiment
  .github/workflows/ci-base-tests-linux.yml
Due: none

change argument parser import, add constant
  examples/waypoint_tracking_agent.py
Due: black, pylint

enable not moving done condition
  examples/sb3/sb3/env/make_env.py
Due: black, pylint

remove speed penalty
  examples/sb3/sb3/env/reward.py
Due: black, pylint

re-add notebook
  examples/sb3/sb3/__init__.py
  examples/sb3/sb3/env/__init__.py
  examples/sb3/sb3_example.ipynb
Due: black, pylint

update notebook
  examples/sb3/sb3_example.ipynb
Due: black

GitHub Actions: Update mac_requirements.txt
  utils/setup/mac_requirements.txt
Due: black

allow user to specify amount of time to check if not moving
  smarts/core/agent_interface.py
  smarts/core/sensors.py
Due: black, pylint

first steps towards relaxing Polygon dependencies in RoadMaps
  smarts/core/lanepoints.py
  smarts/core/opendrive_road_network.py
  smarts/core/plan.py
  smarts/core/road_map.py
  smarts/core/scenario.py
  smarts/core/sumo_road_network.py
  smarts/core/tests/test_map.py
  smarts/core/waymo_map.py
  smarts/sstudio/types.py
Due: black, pylint

Waymo map simple parser, extract lane information and other map features
  smarts/core/utils/file.py
  smarts/core/waymo_map.py
  smarts/sstudio/genhistories.py
Due: black, pylint

minor fixes, cleanup
  smarts/core/waymo_map.py
Due: black, pylint

incoming and outgoing lanes, lane_by_id
  smarts/core/waymo_map.py
Due: black, pylint

minor
  smarts/core/road_map.py
  smarts/core/waymo_map.py
Due: black, pylint

updated docs for custom map types
  docs/sim/scenario_studio.rst
Due: black
